@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/icon/repdom.png" alt="Alternate Text" />
    <img src="~/icon/gobiernodigital.png" alt="Alternate Text" />
    <img src="~/icon/nortic.png" width="500" alt="Alternate Text" />

</div>
